---
import type { HTMLAttributes } from "astro/types";
import getTailwindTagColor from "../utils/getTailwindTagColor"

export interface Props extends HTMLAttributes<"a"> {
  name: string;
  size?: "sm" | "lg";
}

const { name, class: className, size = "sm", } = Astro.props;

const backgroundColorStyle = getTailwindTagColor(name);
const marginStyles = size === "sm" ? "my-1 mr-2" : "my-3 mr-4"
const sizeStyles = size === "sm" ? "text-sm" : "text-lg";
---
<a
  href={`/tags/${name.toLowerCase()}`}
  class={`${className} ${backgroundColorStyle} ${marginStyles} ${sizeStyles} rounded-full py-1 px-2 leading-none transition-all`}
>
  {name.toLowerCase()}
</a>
