---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime.astro";
import { type CollectionEntry, render } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import { marked } from "marked";

export interface Props {
  project: CollectionEntry<"portfolio">;
}

const { project } = Astro.props;

const { title, description, image, url, readmeUrl, publishedAt, tags } =
  project.data;

const { Content } = await render(project);

const ogUrl = new URL(image ? image : `${title}.png`, Astro.url.origin)
  .href;

const readmeResponse = await fetch(readmeUrl);
const readmeMarkdown = await readmeResponse.text();
const readmeContent = marked.parse(readmeMarkdown);
---

<Layout
  title={title}
  description={description}
  ogImage={ogUrl}
  canonicalURL={url}
>
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mb-2 mt-8 flex hover:opacity-75"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>Go back</span>
    </button>
  </div>
  <main id="main-content">
    <h1 class="project-title" transition:name={title}>{title}</h1>
    <Datetime datetime={publishedAt} type="project" size="lg" className="my-2" postTitle={title} />
    
    <ul class="mt-4 mb-8">
      {tags.map(tag => <li class="inline"><Tag name={slugifyStr(tag)} /></li>)}
    </ul>

    <article id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
      <Content />
      <p>See more on <a target="_blank" href={url}>Github</a>.</p>
      <strong>README.md:</strong>
      <Fragment set:html={readmeContent} />
    </article>
  </main>
  <Footer />
</Layout>

<style>
  @reference "../styles/base.css";
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .project-title {
    @apply text-2xl font-semibold text-skin-accent;
  }
</style>
